.container {
  max-width: 990px;
  margin: 0px auto;
}

html,
body {
  scroll-behavior: smooth !important;
  // background: #011627 !important;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  &-track {
    background: #edf6f9;
  }
  &-thumb {
    background: #8d99ae;
    &:hover {
      background: #118ab2;
    }
  }
}
